*.exe
*.sublime-workspace
*.pdb
*.raddbgi
*.dll
*.exp
*.lib
log.txt
*.bin
*.dylib
*.so
*.dSYM
*.a
linux

build/
build_generator/
ols.json
libtinyfiledialogs.a
libtinyfiledialogs.obj
tinyfiledialogs.lib
tinyfiledialogs.obj